* {
    color: #202020
}

body {
    max-width: 80%;
    margin: 5% 20%;
    font-family: sans-serif;
    background-color: #DDDDDD
}

#header h1, #header h2 {
    display: inline;
    padding-right: 0.5rem;
}

#header nav {
    display: block;
    padding: 1em 0;
}

.post {
    border: 1px solid #404040;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    overflow: hidden;
}

.post p {
    display: block;
    margin: 0.5em;
}

.post img {
    width: 10em;
    height: 10em;
    float: left;
    display: block;
    margin: 0.5em;
    object-fit: cover;
}

.post .tripcode {
    font-weight: bold;
}

.input_group {
    display: block;
    padding: 0.5em;
    width: 80%;
}

.input_group input {
    float: right;
    text-align: left;
}

#submit_form #submit {
    margin-top: 1em;
    font-size: 1em;
}

#footer {
    border-top: 2px solid #404040;
    margin-top: 10%;
}