<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>{{ boardname }} | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
</head>
<body>
<div id="header">
    {% block header %}
    <h1> {{ self.title() }} </h1>
    {% endblock %}
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}
    <p>hosted on {{ boardname }} - <a href="/">back to the homepage</a></p>
    {% endblock %}
</div>
</body>
</html>