{% extends "layout.html" %}

{% block title %}submit{% endblock %}

{% block content %}
{% if submission_success %}
<h2>Your submission was successfully posted!</h2>
{% elif submission_success == False %}
<h2>An image is required!</h2>
{% endif %}

<form action="/submit/" enctype="multipart/form-data" method="post" id="submit_form">
    <div class="input_group">
        <label for="image">Image (jpeg, png):</label>
        <input id="image" type="file" name="image" accept="image/jpeg,image/png" onchange="updateButton()" hidden/>
        <input id="image_visible_button" type="button" value="Upload an image" onclick="openDialog()"/>
    </div>
    <div class="input_group">
        <label for="submission_text">Submission:</label>
        <textarea id="submission_text" type="text" rows="10" name="submission_text"></textarea>
    </div>
    <div class="input_group">
        <label for="tripcode">Tripcode:</label>
        <input id="tripcode" type="text" name="tripcode"/>
    </div>
    <input id="submit" type="submit" value="submit"/>
</form>
<script>
    function openDialog() {
        document.getElementById('image').click();
    }
    function updateButton() {
        document.getElementById('image_visible_button').value = "Image selected!";
    }

</script>
{% endblock %}



